<div class="tm-node">
  <a href="{{ node.url }}" *ngIf="!hasChildren; else nodechildren">{{ node.displayName }}</a>

  <ng-template #nodechildren>
    <a href="{{ node.url }}" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">{{ node.displayName }}</a>
    <ul class="collapse list-unstyled" id="{{ nodeId }}" *ngIf="node.nodes">
      <li class="tm-node" *ngFor="let subNode of node.nodes">
        <a href="{{ subNode.url }}">{{ subNode.displayName }}</a>
      </li>
    </ul>
    <!-- <app-tree-menu [nodes]="node.nodes" [id]="nodeId"></app-tree-menu> -->
  </ng-template>
</div>
